<html>
  <head> </head>
<body>
	<h1> Songs by sinatra </h1>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/contact">Contant</a></li>
	</ul>

<%= yield %>

</body>
</html>